.App {
  text-align: center;
  
}

body {
  background-color: black;
}

button{
    padding:20px;
    border-radius: 40%;
    border: none;
    outline: none;
   margin:10px;
    background-color:grey;
    color: #fff;
    margin: 0px; 
    max-width: 55%;
    height: 50px;
    font-size: 15px;
 
 
}
/* On screens that are 992px or less */
@media screen and (max-width: 992px) {


  button{
    
    padding:20px;
    border-radius: 40%;
    border: none;
    outline: none;
   margin:10px;
    background-color:grey;
    color: #fff;
    margin: 0px; 
    max-width: 55%;
    height: 50px;
    font-size: 15px;
  
    
    
   }
 
 
 
   
.result {
  height: 60px;

  width: 100%;
}
.result p {
  font-size: 40px;
  margin: 5px;

}
}

/* On screens that are 600px or less,  */
@media screen and (max-width: 600px) {

  button{
    
   padding:15px;
  border-radius: 60%;
  border: none;
  outline: none;
 margin:10px;
  background-color:grey;
  color: #fff;
  margin: 0px; 
  max-width: 25%;
  height: 50px;
  font-size: 15px;
   
  }




  .result {
    height: 60px;
  
    width: 100%;
  }
  .result p {
    font-size: 40px;
    margin: 5px;
  
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {


  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.App-link {
  color: #61dafb;
}


  
.result {
  height: 60px;

  width: 100%;
}
.result p {
  font-size: 40px;
  margin: 5px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
