.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button{
  width: 100px;
  height: 50px;
  border-radius: 20%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color:grey;
  color: #fff;
  margin: 10px; 
 
 
}
.result
{
  width: 50%;
  height: 50%;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  background-color: #222;
  color:white;
  text-align: right;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
